<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kidslearning.kidsplay.kidsgames.kidseducation.preschool">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>


    <application
        android:name=".customclasses.AppControl"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:exported="true"
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FullScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.exam.LookChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.exam.ListenGuessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.video.ListVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.video.VideoLearningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.video.VideoPlayActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".pushnotification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AD_MOB_APPLICATION_ID"/>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />


    </application>

</manifest>